{% extends 'layout.html' %}

{% block title %}
detalhes
{% endblock %}

{% block body %}
    
    <div class="container-fluid mt-5 col">
        <a class="btn btn-info mb-3 mt-3" href="{{url_for('index')}}" >Voltar</a>
        <div class="row">
            <div>
                {% for coluna in banco %}
                    <h1>{{coluna.nota}}</h1>
                    <hr>
                    <p>{{coluna.descr}}</p>
                    </div>
                
            </div>
        </div>
        <div class="row mt-5">
            <div>

                <p class="display-5">{{coluna.topico}} / {{coluna.prazo}}</p>
                
                <a class="btn btn-lg btn-success">Editar</a>
                <a type="button" class="btn btn-danger btn-lg" href="{{url_for('delete', id=coluna.id)}}">Deletar</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}