{% extends 'layout.html' %}

{% block head %}
<title>Detalhes</title>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div>
                <a class="btn btn-info mb-3" href="/">Voltar</a>
            </div>
        </div>
        <div class="row" style="height:50vh;">

            <div>
                <form action="/edit" method="POST">
                    <input type="text" value="{{banco.nota}}" name="nota">
                    <hr>
                    <textarea class="form-control" rows="4" name="descr">{{banco.descr}}</textarea>
                
            </div>
        </div>
        <div class="row mt-5">
            <div>

                <p class="display-5">{{banco.topico}} / {{banco.prazo}}</p>
                
                <button class="btn btn-lg btn-success" href="/edit/{{banco.id}}" type="submit">Concluir</button>
                <a type="button" class="btn btn-danger btn-lg" href="/delete/{{banco.id}}">Deletar</a>
            </form>
            </div>
        </div>
    </div>
{% endblock %}