{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <form class="form-group" action="/" method="POST">
                    <div>
                        <h1 class="display-2">Registro</h1>
                        <label class="form-text">Digite a sua nota</label>
                        <input class="form-control" name="nota" id="nota">
                    </div>
                    <div>
                        <label class="form-text">Descricao</label>
                        <textarea class="form-control" id="descr" name="descr" rows="4"></textarea>
                    </div>

                    <div>
                        <table class="table">
                            <tbody>
                                <td>Topico:</td>
                                <td>
                                    <select class="form-select form-select-md mb-3 bg-primary">
                                    <option selected value="Estudo">Estudo</option>
                                    <option value="Lazer">Lazer</option>
                                    <option value="Trabalho">Trabalho</option>
                                    <option value="Outros">Outros</option>
                                  </select></td>
                                <td>Prazo:</td>
                                <td><select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
                                    <option selected value="Hoje">Hoje</option>
                                    <option value="Daqui um dia">Daqui um dia</option>
                                    <option value="Daqui dois dias">Daqui dois dias</option>
                                    <option value="Daqui uma semana">Daqui uma semana</option>
                                    <option value="Daqui duas semanas">Daqui duas semanas</option>
                                    <option value="Daqui um mes">Daqui um mes</option>
                                    <option value="Mais de um mes">Mais de um mes</option>
                                  </select></td>

                                  <td>
                                      <button class="btn btn-primary" type="submit">Enviar</button>
                                  </td>
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}